.tile.is-ancestor:nth-child(2n + 1) > .tile > .tile.is-child:nth-child(2n),
.tile.is-ancestor:nth-child(2n) > .tile > .tile.is-child:nth-child(2n + 1) {
  background-color:rgb(250, 6, 6);
}

.column {
  border: 25px dashed rgb(1, 255, 242)
}
